/* 
================================
Reference CSS */
.cut {
  background: url(//stash.rachelnabors.com/oz/opening/cut-hole.png?1) 70% 60% no-repeat;      
  background-size: 3000px 2077px; 
}

.loaded .cut {
  background-size: 650px 450px;
  transition: background-size 1s linear 3.25s;
}


/* 
================================ 
Your Code Here */

/* Give .cut a background-size of 3000px 2077px; */

/* give .loaded .cut a background-size of 650px 450px; */
  /* And give that property a 1s linear transition with 3.25s delay */

/* 
================================
Necessary Code Below-- plz ignore */

.loaded #scene2 {  
  background-position: 0 0;
  opacity: 0;
  transition: background-position 4s linear 4.5s;
}

#loader { 
  opacity: 1;
  transition: opacity .01s linear 2s;
  z-index: 20;
} /* hide portal till everything is loaded */

.loaded #loader { opacity: 0; }

#opening { 
  background: #000;
  width: 650px; height: 450px; position: absolute;
}

.cut { width: 100%; height: 100%; position: absolute;   z-index: 6;}

body { 
  background: #000; 
}

#loader {
  background: url(//stash.rachelnabors.com/oz/loading/bg_loading.jpg?3) 0 0 no-repeat;
  animation: down-the-hole .5s steps(2) infinite;
}
.scene {
  opacity: 0;
  position: absolute;
  width: 650px; height: 450px;
  z-index: 10;/*Scenes top everything but loading screens*/
}

.loaded .scene { opacity: 1; }

#scene2 {
  background: #0e1318 url("//stash.rachelnabors.com/oz/opening/quadling.jpg") 100px 0 no-repeat;
  z-index: 1;
}

@keyframes down-the-hole {
  0% {background-position: 0 -450px;}
  100% {background-position: 0 -1350px;}
}

#loader .dolly { transition: opacity .01ms linear -.01ms;
opacity: 0;}

.loaded #loader .dolly {
  background: url(//stash.rachelnabors.com/oz/loading/dolly.png) 0 0 no-repeat;
  opacity: 1;
  top: -151px; left: 213px;
  width: 218px; height: 463px;
  animation-fill-mode: forwards;
  animation: dolly-fall 2.5s ease-in 1;
}

.loaded #loader { 
  background: url(//stash.rachelnabors.com/oz/loading/bg_loading.jpg?3) 0 0 no-repeat;
  animation: none;
}

@keyframes dolly-fall {
  0% {top: -151px;}
  35% { top: -250px; }
  100% {top: 1500px;}
}

#opening, #loader {
  width: 650px; height: 450px;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: -225px; margin-left: -325px;
  overflow: hidden;
}

#scene1 .setting {
  background: url("//stash.rachelnabors.com/oz/opening/bg_opening.png") 0 0 no-repeat;
  width: 650px; height: 450px;
}

#scene1 .dolly-fling {
  background: url("//stash.rachelnabors.com/oz/opening/flying-up.png");
  opacity: 1;
  left: 289px; bottom: -127px;
  width: 77px; height: 127px;
}

.loaded #scene1 .dolly-fling {
  bottom: 58px;
  opacity: 0;
  transition: bottom .15s linear 2s, opacity .01s 2.16s;
}

#scene1 .dolly-flop {
  background: url("//stash.rachelnabors.com/oz/opening/sprite_landing.png") 0 232px no-repeat;
  left: 288px; top: 123px;
  width: 241px; height: 232px;
}

.loaded #scene1 .dolly-flop {
  animation: dolly-landing .75s steps(10,start) 1 2.16s;
  animation-fill-mode: forwards;
}

@keyframes dolly-landing {
  0% {background-position: 0 232px;}
  100% {background-position: 0 -2098px;}
}

/* Image replacement */
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
.ir br { display: none; }

/* Thank you for reading :) */
.credits {
  background: url("//stash.rachelnabors.com/oz/sprite_frame.png");
  left: 50%; top: 50%; 
  margin-left: -325px; margin-top: 235px;
  position: absolute;
  width: 650px; height: 214px;
}

.xamag {
  background: url("//stash.rachelnabors.com/oz/sprite_frame.png?2");
  position: absolute; left: 0; top: 0;
  width: 217px; height: 155px;
}

.logo {
  background: url("//stash.rachelnabors.com/oz/sprite_frame.png?2") -244px 0;
  position: absolute; left: 244px; top: 0;
  width: 168px; height: 214px;
}

.rtg {
  background: url("//stash.rachelnabors.com/oz/sprite_frame.png?2") -412px 0;
  position: absolute; left: 412px; top: 0;
  width: 238px; height: 179px;
}